.popular-card-container {
  border-radius: var(--card-border-radius);
  background-color: var(--nav-color);
  box-shadow: var(--card-shadow);
  overflow: hidden;
  margin-bottom: 10px;
}

.popular-card-container img {
  width: 100%;
}

.popular-card-body {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  row-gap: 20px;
  padding: 17px 13px;
}

.popular-card-body a:link,
.popular-card-body a:visited {
  font-size: 18px;
}

.popular-card-body ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.popular-card-body p {
  opacity: 0.6;
  font-size: 15px;
  grid-column-start: 2;
  justify-self: end;
}

a:link.genre-link,
a:visited.genre-link {
  text-decoration: underline;
  font-size: 16px;
  opacity: 0.8;
}
