.rating-container {
  font-size: 12px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 3px;
  justify-self: end;
  align-self: start;
}

.rating-container svg {
  width: 14px;
  height: 14px;
}
