main.main--home {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  position: relative;
}

@media screen and (min-width: 768px) {
  main.main--home {
    row-gap: 40px;
  }
}

@media screen and (min-width: 1024px) {
  main.main--home {
    grid-template-columns: 72% calc(28% - 65px) 65px;
    row-gap: 20px;
  }
}
