nav {
  background-color: var(--bg-color);
  padding: 33px 40px 50px 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content;
  align-items: center;
  position: relative;
  z-index: 10;
}

.hamburger {
  justify-self: end;
}

.bar {
  display: block;
  width: 30px;
  height: 2px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--text-color);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.nav-items {
  grid-column-start: 1;
  grid-column-end: -1;
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  position: absolute;
  top: 90px;
  left: -40px;
  right: -40px;
  z-index: 10;
  background-color: var(--bg-color);
  padding: 50px 0;
  min-height: 100vh;
}

.nav-items button {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.2s;
}

.nav-items,
.nav-items button {
  color: var(--text-color);
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 3px;
}

.nav-items button svg.open {
  transform: rotate(180deg);
}
.nav-items button svg.close {
  transform: rotate(0deg);
}

.dropdown-items {
  margin-top: -12px;
}

.dropdown-items li {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: normal;
}

.nav-items a.active,
.dropdown-items li a.active {
  color: var(--primary-color);
}

@media screen and (min-width: 1024px) {
  nav {
    grid-area: 1 / 1 / -2 / 2;
    width: max-content;
    min-height: 100vh;
    grid-template-columns: 160px;
    grid-template-rows: max-content;
    row-gap: 70px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.05);
    background-color: var(--nav-color);
    padding-top: 46px;
  }

  .hamburger {
    display: none;
  }

  .nav-items,
  .nav-items button {
    font-size: 20px;
  }

  .nav-items {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    align-self: start;
    align-items: flex-start;
    text-align: left;
    gap: 40px;
    z-index: 0;
    background-color: var(--nav-color);
    padding: 0;
    min-height: auto;
  }

  .nav-items button:hover {
    color: var(--primary-color);
  }

  .dropdown-items {
    margin-top: -22px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1400px) {
  nav {
    grid-template-columns: 220px;
    padding: 46px 0 46px 60px;
  }
}
