article {
  display: grid;
  grid-template-rows: max-content auto;
  row-gap: 14px;
}

/* NEW RELEASES PREVIEW & CARD */
.new-preview-container {
  grid-template-columns: repeat(2, 1fr);
}

.preview-card-container {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: var(--card-border-radius);
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.info-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(23, 23, 23, 0.6);
  border-radius: var(--card-border-radius);
  margin: 6px;
  padding: 10px 8px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, auto);
  row-gap: 10px;
}

.info-container h3 {
  font-size: 18px;
  grid-area: 1 / 1 / 3 / 2;
  align-self: center;
}

/* COMING SOON PREVIEW & CARD */
.upcoming-preview-container {
  grid-template-columns: 1fr auto;
}

.sm-horizontal {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.card-img-container {
  border-radius: var(--card-border-radius);
  overflow: hidden;
  width: 185px;
  margin-bottom: 10px;
}

.link-title {
  font-size: 14px;
}

.date {
  margin-top: 5px;
  opacity: 0.6;
  font-size: 13px;
}

/* POPULAR & CARD */
.popular-container {
  grid-template-columns: 1fr;
}

.game-card-container {
  border-radius: var(--card-border-radius);
  background-color: var(--nav-color);
  box-shadow: var(--card-shadow);
  overflow: hidden;
  margin-bottom: 10px;
  display: grid;
  grid-template-rows: 3fr 2fr;
}

.game-card-body {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  row-gap: 20px;
  padding: 17px 13px;
}

.game-card-body > * {
  align-self: start;
}

.game-card-body a:link,
.game-card-body a:visited {
  font-size: 18px;
}

.game-card-body ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.game-card-body p {
  opacity: 0.6;
  font-size: 15px;
  grid-column-start: 2;
  justify-self: end;
  align-self: end;
}

a:link.genre-link,
a:visited.genre-link {
  text-decoration: underline;
  font-size: 16px;
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .new-preview-container {
    column-gap: 20px;
  }

  .popular-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  .popular-container h2 {
    grid-area: 1 / 1 / 2 / 3;
  }

  .preview-card-container {
    grid-column-start: auto;
    grid-column-end: auto;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  article {
    row-gap: 22px;
    column-gap: 22px;
  }

  /* NEW RELEASES PREVIEW & CARD */
  .new-preview-container {
    grid-area: 2 / 1 / 3 / 2;
    border-bottom: 1px solid rgba(245, 245, 245, 0.18);
    padding-bottom: 20px;
    padding-right: 21px;
  }

  /* COMING SOON PREVIEW & CARD */
  .upcoming-preview-container {
    grid-area: 2 / 2 / 4 / 4;
    border-left: 1px solid rgba(245, 245, 245, 0.18);
    padding-left: 21px;
  }

  .sm-horizontal {
    grid-column-start: 1;
    grid-column-end: 3;
    flex-direction: column;
    gap: 22px;
    overflow-x: auto;
  }

  .card-img-container {
    width: 100%;
    margin-bottom: 10px;
  }

  .link-title {
    font-size: 16px;
  }

  .date {
    margin-top: 8px;
    font-size: 15px;
  }

  /* POPULAR & CARD */
  .popular-container {
    grid-area: 3 / 1 / 4 / 2;
    padding-right: 21px;
  }
}

@media screen and (min-width: 1400px) {
  .info-container h3 {
    font-size: 20px;
  }

  .game-card-body a:link,
  .game-card-body a:visited {
    font-size: 20px;
  }

  a:link.genre-link,
  a:visited.genre-link {
    font-size: 17px;
  }

  .game-card-body p {
    font-size: 16px;
  }
}
