.card-img-container {
  border-radius: var(--card-border-radius);
  overflow: hidden;
  width: 185px;
  margin-bottom: 10px;
}

.card-img-container img {
  width: 100%;
  height: auto;
}

.link-title {
  font-size: 14px;
}

.date {
  margin-top: 5px;
  opacity: 0.6;
  font-size: 13px;
}
