main.main--game-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content) auto;
  row-gap: 20px;
  position: relative;
}

main.main--game-list h2 {
  font-size: 24px;
}

.game-list-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

.btn-navigate-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-navigate {
  background-color: transparent;
  font-size: 18px;
  color: var(--light-gray);
  display: flex;
  gap: 5px;
  align-items: center;
  transition: 0.2s;
  margin-top: 10px;
}

.btn-navigate-prev {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: start;
}

.btn-navigate-prev:disabled {
  opacity: 0.5;
  cursor: auto;
}

.btn-navigate-next {
  grid-column-start: -2;
  grid-column-end: -1;
  justify-self: end;
}

.btn-navigate:not(.btn-navigate:disabled):hover,
.btn-navigate:not(.btn-navigate:disabled):active {
  color: var(--text-color);
}
.btn-navigate:not(.btn-navigate:disabled):hover svg,
.btn-navigate:not(.btn-navigate:disabled):active svg {
  fill: var(--text-color);
}

@media screen and (min-width: 768px) {
  .game-list-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  .btn-navigate-container {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

@media screen and (min-width: 1150px) {
  main.main--game-list {
    grid-template-columns: repeat(2, 1fr);
  }

  main.main--game-list h2 {
    font-size: 28px;
  }

  .game-list-container {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 26px;
    row-gap: 16px;
    margin-top: 2px;
  }
}
